@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@layer components {
    .btn-primary {
        @apply -ml-1 z-10 rounded-full text-center text-sm font-medium text-gray-600 transition duration-200 hover:scale-105;
    }
    .bg-hover {
        @apply bg-gray-500 rounded-md bg-opacity-0 hover:bg-opacity-50 p-0.5
    }
}
